

body {
    background-image: url('./background/background2.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    /* background-position: center center;    */
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#head-container {
    display: flex;
    justify-content: space-between;
}
#head-image{
    align-self:flex-start;
    margin-left: 100px ;
}
#message {
    align-self: flex-end;
}
#title {
    align-self: flex-start;
    margin-top: 0;
}
#footer-gif {
    display: flex;
    justify-content: space-between;
   
} 
#vomong-div{
    display: flex;
    align-self: flex-start;
} 

#namlen-div{
    display: flex;
    align-self: flex-end;
} 

#message {
    /* font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif; */
    font-family: "Lora", sans-serif;
    font-size: 50px;
    color: rgb(234, 225, 238);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}
#title{
    /* font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif; */
    font-family: "Lora", sans-serif;
    font-size: 70px;
    color: rgb(243, 213, 225);
    text-shadow: 4px 4px 3px rgba(51, 2, 2, 0.1); 
}
input{
    /* font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif; */
    font-family: 'Lora', serif;
    font-size: 10px;
    color: rgb(243, 213, 225);
    text-shadow: 4px 4px 3px rgba(51, 2, 2, 0.1); 
}
img {
    opacity: 0;
}
input {
    font-size: 30px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: auto;
    }
#btnYes {
    position: absolute;
    left: 400px;
    top: 450px;
    background-color: #7bd806;
    cursor: pointer;
    border-radius: 25px;
    }
#btnNo {
    position: absolute;
    left: 1200px;
    top: 450px;
    background-color: #f4511e;
    transition: 0.3s;
    border-radius: 25px;
    
}
#btnNo {    
    position: absolute;
}
#btnYes:hover {
    background-color: rgb(45, 158, 202);
    transform: scale(1.5);
}
audio { display:none;}
